@model Inventory

@{ 
    ViewBag.Title = "Edit Item";
    Layout = "_AdminLayout";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ItemID" />
    <div class="form-group">
        <label asp-for="ItemIdentifier"></label>
        <div><span asp-validation-for="ItemIdentifier" class="text-danger"></span></div>
        <input asp-for="ItemIdentifier" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ItemName"></label>
        <div><span asp-validation-for="ItemName" class="text-danger"></span></div>
        <input asp-for="ItemName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <div><span asp-validation-for="Description" class="text-danger"></span></div>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <div><span asp-validation-for="Category" class="text-danger"></span></div>
        <input asp-for="Category" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Subcategory"></label>
        <input asp-for="Subcategory" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OnHandQty"></label>
        <div><span asp-validation-for="OnHandQty" class="text-danger"></span></div>
        <input asp-for="OnHandQty" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OutQty"></label>
        <div><span asp-validation-for="OutQty" class="text-danger"></span></div>
        <input asp-for="OutQty" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TotalQty"></label>
        <div><span asp-validation-for="TotalQty" class="text-danger"></span></div>
        <input asp-for="TotalQty" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>