<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <title>TheDeepO</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <a class="navbar-brand" href="_ViewStart.cshtml">THE DEEP O</a>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        
        <div class="col-9">
            <form asp-controller="Inventory" asp-action="Index">
                Search: <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </form>
            
            @RenderBody()
        </div>
    </div>
</body>
</html>
